$white: #fff;

$back: #f1f1f8;
$back_high: #f5f5fc;
$back_light: #fcfcfd;

$border: #eaeaf2;
$border_focus: #4c89fb;

$btn: #4c89fb;
$btn_hover: #437ae0;
$btn_disable: #c2c2cb;

$line: #f1f1f8;
$link: #4c89fb;

$font_1st: #2d2d33;
$font_2nd: #656573;
$font_3rd: #9092a5;

$warn_fail: #ff4040;
$warn_success: #2cbd5f;
$warn_warning: #ffaa00;